.idea/
*~
.DS_Store
auth/

__pycache__/


ornstein_ulhenbeck/.ipynb_checkpoints/
ornstein_ulhenbeck/plot/
beta_ensemble/.ipynb_checkpoints/
beta_ensemble/plot/
dyson_brownian_motion/.ipynb_checkpoints/
dyson_brownian_motion/plot/
