.idea/
*~
*.png
.DS_Store
auth/

__pycache__/

wishart/.ipynb_checkpoints/
wishart/plot/
ornstein_ulhenbeck/.ipynb_checkpoints/
ornstein_ulhenbeck/plot/
beta_ensemble/.ipynb_checkpoints/
beta_ensemble/plot/
dyson_brownian_motion/.ipynb_checkpoints/
dyson_brownian_motion/plot/
tridiagonal_models/.ipynb_checkpoints/

*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
