.idea/
*~
.DS_Store
auth/

__pycache__/

classic_dpp/.ipynb_checkpoints/
ex439/.ipynb_checkpoints/
beta_ensemble/.ipynb_checkpoints/
beta_ensemble/plot/
dyson_brownian_motion/.ipynb_checkpoints/
dyson_brownian_motion/plot/
